// Custom Reset style I created ~~
body{
  font-family: 'Average Sans', 'Roboto', Helvetica, sans-serif;
}

html, body, ul, ol, li{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

*{
  padding: 0;
  margin: 0;
}
